.table td, .table th {
    padding: 10px 20px !important;
    text-align: center !important;
    border: 1px solid #ddd !important;
  }
  
  .table {
    width: 80%; /* Ajusta el ancho */
    border-collapse: separate !important;
    border-spacing: 15px !important;
  }
  .table th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
  }
  h4 {
    font-weight: normal; /* Quita la negrita */
  }
  
  

