<div class="container">
    <h2>Bitácora de Consultas</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Endpoint</th>
          <th>Fecha de Consulta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of bitacora">
          <td>{{ registro.id }}</td>
          <td>{{ registro.endpoint }}</td>
          <td>{{ registro.fechaConsulta | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
